@model Hisab.UI.ViewModels.NewSplitByFriendVm

<form id="addSplitPerHeadForm" asp-controller="Event" asp-action="AddSplitByFriend" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <input type="hidden" asp-for="@Model.EventId" value="@Model.EventId" />
    <div class="form-group">
        <label asp-for="@Model.Description">Description:</label>
        <input asp-for="@Model.Description" class="form-control" type="text" />
        <span asp-validation-for="@Model.Description"></span>

    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Who Paid?</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Include?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pool Amount</td>
                    <td><input asp-for="@Model.PaidByPoolAmount" class="form-control" type="text" /></td>
                    <td>n/a</td>
                </tr>

                @for (var i = 0; i < Model.FriendDetails.Count; i++)
                {
                    <tr>
                        <input type="hidden" asp-for="@Model.FriendDetails[i].EventFriendId" value="@Model.FriendDetails[i].EventFriendId" />
                        <td>
                            @Model.FriendDetails[i].Name

                        </td>
                        <td><input asp-for="@Model.FriendDetails[i].AmountPaid" class="form-control" type="text" /></td>
                        <td>
                            <input asp-for="@Model.FriendDetails[i].IncludeInSplit" class="Slider" type="checkbox" data-toggle="toggle" data-on="Include" data-off="Exclude">
                        </td>
                    </tr>
                }


            </tbody>


        </table>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>

</form>

