@model Hisab.UI.ViewModels.EventVm
@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}

<h2>Friends</h2>

<div class="card-columns">
    <form asp-controller="Event" asp-action="AddFriend" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" readonly="readonly">
        <div class="card">
            <div class="card-header eventCardHeader">Add Friend</div>
            <div class="card-body">
                @Html.ValidationSummary(true, "")
                <input type="hidden" asp-for="@Model.NewEventFriend.EventId" value="@Model.EventId"/>
                <div class="form-group">
                    <label asp-for="@Model.NewEventFriend.Name">Name:</label>
                    <input asp-for="@Model.NewEventFriend.Name" class="form-control" type="text" />
                    <span asp-validation-for="@Model.NewEventFriend.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NewEventFriend.Email">Email:</label>
                    <input asp-for="@Model.NewEventFriend.Email" class="form-control" type="email" />
                    <span asp-validation-for="@Model.NewEventFriend.Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NewEventFriend.AdultCount">Adult Count:</label>
                    <input asp-for="@Model.NewEventFriend.AdultCount" type="number" value="1" min="1" max="5" step="1" />
                    <span asp-validation-for="@Model.NewEventFriend.AdultCount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NewEventFriend.KidsCount">Kids Count:</label>
                    <input asp-for="@Model.NewEventFriend.KidsCount" type="number" value="0" min="0" max="5" step="1" />
                    <span asp-validation-for="@Model.NewEventFriend.KidsCount"></span>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary">Save</button>
            </div>

        </div>
    </form>
    

    @if (Model.Friends != null)
    {
        foreach (var friend in Model.Friends)
         {
             <form asp-controller="Event" asp-action="UpdateFriend" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" readonly="readonly">
                 <div class="card">
                     <div class="card-header eventCardHeader">@friend.Name</div>
                     <div class="card-body">
                         <div class="form-group">
                             <label>Status:@friend.Status</label>

                         </div>
                         <div class="form-group">
                             <label>Email:</label>
                             <input class="form-control" type="text" value="@friend.Email" />
                             <span></span>
                         </div>
                         <div class="form-group">
                             <label>Adult Count:</label>
                             <input type="number" value="@friend.AdultCount" min="1" max="5" step="1" />
                             <span></span>
                         </div>
                         <div class="form-group">
                             <label>Kids Count:</label>
                             <input type="number" value="@friend.KidsCount" min="0" max="5" step="1" />
                             <span></span>
                         </div>
                     </div>

                     <div class="card-footer">
                         <button class="btn btn-primary">Save</button>
                     </div>
                 </div>
             </form>

         }
    }
   

</div>

@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    
}