@model Hisab.UI.ViewModels.EventVm
@{
    ViewData["Title"] = "Event home";
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}




<div class="eventContent">

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header eventCardHeader">Total Event Expenses</div>
                <div class="card-body">
                    @Model.TotalEventExpense

                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header eventCardHeader">My Event Expenses</div>
                <div class="card-body">
                    @Model.MyEventExpense

                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header eventCardHeader">My Contributions</div>
                <div class="card-body">
                    @Model.MyContributions

                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header eventCardHeader">Net Amount</div>
                <div class="card-body">
                    @Model.MyNetAmount

                </div>

            </div>

        </div>
    </div>
    
   <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header eventCardHeader">Add Expenses</div>
                <div class="card-body">


                    <div class="row">
                        <div class="col-md-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab-expense" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-splitPerFriend-tab" data-toggle="tab" href="#nav-splitPerFriend" role="tab" aria-controls="nav-home" aria-selected="true">Split per Friend</a>
                                    <a class="nav-item nav-link" id="nav-splitPerHead-tab" data-toggle="tab" href="#nav-splitPerHead" role="tab" aria-controls="nav-profile" aria-selected="false">Split per head</a>
                                    <a class="nav-item nav-link" id="nav-splitByRate-tab" data-toggle="tab" href="#nav-splitByRate" role="tab" aria-controls="nav-contact" aria-selected="false">Split by Rate</a>
                                    
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-splitPerFriend" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <partial name="_SplitPerFriend" model="@Model.NewSplitByFriendVm" />
                                </div>
                                <div class="tab-pane fade" id="nav-splitPerHead" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <i>Feature comming soon...</i>
                                </div>
                                <div class="tab-pane fade" id="nav-splitByRate" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <i>Feature comming soon...</i>
                                </div>
                                
                            </div>

                        </div>
                    </div>


                </div>
                <div class="card-footer eventCardFooter">Footer</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header eventCardHeader">Event Money Pool</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            Total Event Pool: @Model.TotalEventPoolBalance
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <partial name="_EventPoolEntry" model="@Model.NewEventPoolEntry" />

                        </div>
                    </div>
                </div>
                <div class="card-footer eventCardFooter">Footer</div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}