@page "/app/events/{id}/AddContributionTransaction"
@model Hisab.UI.AddContributionTransactionModel
@{
    ViewData["Title"] = "ContributionTransactionDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div style="float:left; margin:10px" >
        <h2>Add Contribution</h2>
    </div>
    <div style="float:right; margin:10px" class="pageButton">
        <a asp-page="/app/events/dashboard" asp-route-id="@Model.ContributeVM.EventId"><i class="fa fa-undo-alt"></i> Back </a>
    </div>

<div class="clearfix"></div>

<div class="pageForm">


    <form method="post">
        @Html.HiddenFor(x => x.ContributeVM.EventId)
        <div class="form-group row">
            <label for="contributionTitle" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="@Model.ContributeVM.Description" placeholder="Deposit">
            </div>
        </div>
        <div class="form-group row">
            <label for="contributionDate" class="col-sm-2 col-form-label">Date:</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" asp-for="@Model.ContributeVM.TransactionDate" >
            </div>
        </div>
        <div class="form-group row">
            <label for="contributionAmount" class="col-sm-2 col-form-label">Amount:</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="@Model.ContributeVM.Amount">
            </div>
        </div>


        <div id="equalSplitContent">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col"></th>
                        <th scope="col">To</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            @Model.ContributeVM.NickName
                            @Html.HiddenFor(x => x.ContributeVM.UserId)
                        </td>
                        <td>
                            =>
                        </td>
                        <td>
                            @if (Model.ContributeVM.EventPoolId != null)
                            {
                                <h1>Money Pool</h1>
                                <p>The amount in the Money Pool can be used to pay the event expenses.</p>
                                @Html.HiddenFor(x => x.ContributeVM.EventPoolId)
                            }
                            else
                            {
                                <select asp-for="@Model.ContributeVM.PaidToFriendUserId" asp-items="@(new SelectList(Model.ContributeVM.Friends,"UserId","Name"))">
                                </select>
                            }



                        </td>
                    </tr>






                </tbody>


            </table>
        </div>



        <div class="row transactionFooter">
            <div class="col-11 col-xs-11 transactionButtons">

                <button><i class="fa fa-edit"></i> Save</button>

                @*<div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-exclamation-circle"></i> Ask payer to
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Check Transaction Amount</a>
                        <a class="dropdown-item" href="#">Check Split</a>
                        <a class="dropdown-item" href="#">Exclude me from the split</a>
                    </div>
                </div>*@
            </div>
        </div>


    </form>

    
</div>




