@page "/app/events/{id}/dashboard"
@model Hisab.UI.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container">
        
        <div class="row">
            <div class="col-6 col-md-3 eventDashboardTiles">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">My Expenses</h5>
                        <p class="card-text">$1,000,000.00</p>

                    </div>
                    <div class="card-footer tileFooter">
                        <a asp-page="/app/events/ExpenseTransactionDetails" asp-route-id="@Model.Event.EventId" asp-route-transid="@Guid.Empty" >
                            <i class="fa fa-plus-square"></i> Add Expense
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 eventDashboardTiles">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Net position</h5>
                        <p class="card-text">$1234567891</p>

                    </div>
                    <div class="card-footer tileFooter">
                        <a asp-page="/app/events/EventSettlement" asp-route-id="@Guid.NewGuid()">
                            <i class="fa fa-plus-square"></i> Settle
                        </a>
                        

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 eventDashboardTiles">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">My Contributions</h5>
                        <p class="card-text">$1234567891</p>

                    </div>
                    <div class="card-footer tileFooter">
                        <a asp-page="/app/events/ContributionTransactionDetails" asp-route-id="@Model.Event.EventId" asp-route-transid="@Guid.Empty" asp-page-handler="ToFriend">
                            <i class="fa fa-plus-square"></i> Contribution
                        </a>
                        
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3 eventDashboardTiles">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Money Pool</h5>
                        <p class="card-text">$1234567891</p>

                    </div>
                    <div class="card-footer tileFooter">

                        <a asp-page="/app/events/ContributionTransactionDetails" asp-route-id="@Model.Event.EventId" asp-route-transid="@Guid.Empty">
                            <i class="fa fa-plus-square"></i> Contribute to pool
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
        
    
    <div class="container friendsContainer">

        @if (Model.IsLoggedInUserTheEventAdmin)
        {
            <div class="row">

                <div class="col-12 text-right">
                    <div style="margin:5px">
                        <p>
                            <a class="pageButton" asp-page="EventFriends" asp-route-id="@Model.Event.EventId">
                                <i class="fa fa-plus-square"></i> Invite Friends
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        }


        <div class="card-columns">
            @*for loop starts here*@
            @foreach (var friend in Model.Event.Friends)
            {
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <div>
                                <img class="friendImage" src="@friend.Avatar.AvatarImagePath" alt="Avatar" asp-append-version="true">
                            </div>

                        </div>
                        <div class="col-10">
                            <div class="card-body">
                                <div><p>@friend.Name</p></div>
                                <div><p>@friend.Email</p></div>
                                <div><p>@friend.Status</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>

    
@section Scripts{ 



}

