@page "/app/events/{id}/settings"
@model Hisab.UI.EventSettingsModel
@{
    ViewData["Title"] = "EventSettings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container">
    
    <div class="row">
        <div class="col-md-6 col-12 col-xs-12 ">
            <div class="card settingsCard">
                <form asp-page-handler="EventSettings" method="post">
                    @if (!ModelState.IsValid)
                    {
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    }

                    @Html.HiddenFor(Model => Model.SettingsVM.EventId)
                    <div class="card-header bg-warning">Event Settings</div>
                    <div class="card-body">
                        @if (!String.IsNullOrEmpty(Model.EventSettingMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @Model.EventSettingMessage
                            </div>
                        }


                        <div class="form-group">
                            <label>Event Name:</label>
                            <input asp-for="@Model.SettingsVM.EventName" class="form-control" type="text" />

                        </div>

                        <div class="form-group">
                            <label>Choose Event Image:</label>
                            @Html.HiddenFor(Model => Model.SettingsVM.SelectedEventImage)

                            <div class="customCombobox" id="customCombobox1">
                                <div id="comboSelection"></div>
                            </div>
                            <ul class="ulcustomCombobox" id="ulcustomCombobox1">
                                @foreach (var avatar in Model.SettingsVM.EventImages)
                                {
                                    <li id="@Convert.ToInt32(avatar.Id)">
                                        <a>
                                            <img src="@avatar.ImagePath" class="imgDisplay" asp-append-version="true" />
                                            <p class="imageText">@avatar.ImageName</p>
                                        </a>
                                    </li>
                                }

                            </ul>


                        </div>

                        @if (Model.SettingsVM.Friends.Count > 0)
                        {
                            <div class="alert alert-warning" role="alert">
                                You can make a friend inative for this event. Please note, an inactive friend will still be able to
                                acess the event. However, in future transaction split an inactive friend will not be available.
                            </div>
                        }


                        @for (var i = 0; i < Model.SettingsVM.Friends.Count(); i++)
                        {


                            <div class="row" style="margin:2px;">

                                <div class="col-md-8 col-8">
                                    <label>
                                        @Model.SettingsVM.Friends[i].Name
                                        (@Model.SettingsVM.Friends[i].Status)
                                    </label>

                                    @Html.HiddenFor(x => x.SettingsVM.Friends[i].Name)
                                    @Html.HiddenFor(x => x.SettingsVM.Friends[i].UserId)
                                    @Html.HiddenFor(x => x.SettingsVM.Friends[i].EventId)
                                    @Html.HiddenFor(x => x.SettingsVM.Friends[i].Email)
                                    @Html.HiddenFor(x => x.SettingsVM.Friends[i].EventFriendStatus)
                                    @Html.HiddenFor(x => x.SettingsVM.Friends[i].Status)
                                </div>

                                <div class="col-md-4 col-4">
                                    <label class="switch">
                                        @if (Model.SettingsVM.Friends[i].EventFriendStatus == Hisab.Common.BO.EventFriendStatus.EventAdmin)
                                        {
                                            <input type="checkbox" asp-for="@Model.SettingsVM.Friends[i].IsFriendActive" disabled >
                                        }
                                        else
                                        {
                                            <input type="checkbox" asp-for="@Model.SettingsVM.Friends[i].IsFriendActive">
                                        }

                                        <span class="slider round"></span>
                                    </label>

                                </div>
                            </div>




                        }





                    </div>

                    <div class="card-footer bg-warning">
                        <button class="btn btn-primary footerButtons">Save</button>

                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-12 col-xs-12 ">
            <div class="card settingsCard">
                <form asp-page-handler="ArchieveEvent" method="post">
                    @Html.HiddenFor(Model => Model.SettingsVM.EventId)
                    <div class="card-header bg-warning">Archive Event</div>
                    <div class="card-body">

                        <p>
                            DANGER !! Please note, you will not be able to access the Event anymore.
                        </p>


                        <div class="form-group">
                            <button class="btn btn-danger">Archive Event</button>
                        </div>

                    </div>

                    <div class="card-footer bg-warning">


                    </div>
                </form>
            </div>
        </div>
    </div>



</div>


@section scripts{
   

    <script src="~/js/EventSettings.js" asp-append-version="true"></script>

}