@page "/app/events/{id}/settings"
@model Hisab.UI.EventSettingsModel
@{
    ViewData["Title"] = "EventSettings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container">
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <div class="row">
        <div class="col-md-6 col-12 col-xs-12 ">
            <div class="card settingsCard">
                <form asp-page-handler="EventSettings" method="post">
                    @Html.HiddenFor(Model => Model.SettingsVM.EventId)
                    <div class="card-header bg-warning">Event Settings</div>
                    <div class="card-body">
                        @if (!String.IsNullOrEmpty(Model.EventSettingMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @Model.EventSettingMessage
                            </div>
                        }


                        <div class="form-group">
                            <label>Event Name:</label>
                            <input asp-for="@Model.SettingsVM.EventName" class="form-control" type="text" />
                            <span asp-validation-for="@Model.SettingsVM.EventName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Choose Event Image:</label>
                            @Html.HiddenFor(Model => Model.SettingsVM.SelectedEventImage)
                            <span asp-validation-for="@Model.SettingsVM.SelectedEventImage" class="text-danger"></span>
                            <div class="customCombobox" id="customCombobox1">
                                <div id="comboSelection"></div>
                            </div>
                            <ul class="ulcustomCombobox" id="ulcustomCombobox1">
                                @foreach (var avatar in Model.SettingsVM.EventImages)
                                {
                                    <li id="@Convert.ToInt32(avatar.Id)">
                                        <a>
                                            <img src="@avatar.ImagePath" class="imgDisplay" asp-append-version="true" />
                                            <p class="imageText">@avatar.ImageName</p>
                                        </a>
                                    </li>
                                }

                            </ul>


                        </div>

                    </div>

                    <div class="card-footer bg-warning">
                        <button class="btn btn-primary footerButtons">Save</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-12 col-xs-12 ">
            <div class="card settingsCard">
                <form asp-page-handler="ArchieveEvent" method="post">
                    @Html.HiddenFor(Model => Model.SettingsVM.EventId)
                    <div class="card-header bg-warning">Archive Event</div>
                    <div class="card-body">

                        <p>
                            DANGER !! Please note, you will not be able to access the Event anymore.
                        </p>


                        <div class="form-group">
                            <button class="btn btn-danger">Archive Event</button>
                        </div>

                    </div>

                    <div class="card-footer bg-warning">


                    </div>
                </form>
            </div>
        </div>
    </div>



</div>


@section scripts{
   

    <script src="~/js/EventSettings.js" asp-append-version="true"></script>

}