@page "/app/events/{id}/EventSettlement"
@model Hisab.UI.EventSettlementModel
@{
    ViewData["Title"] = "EventSettlement";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>EventSettlement</h1>

<div class="container ">

    @foreach (var settlement in Model.SettlementAccounts)
    {
        <div class="card">
            <div class="row card-body">

                <div class="col-3">
                    <div>
                        <img class="friendImage" src="@settlement.FriendAvatar.AvatarImagePath" alt="Avatar" asp-append-version="true">
                    </div>
                   
                </div>
                <div class="col-9">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>@settlement.FriendName</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>To Pay</td>
                                <td>@settlement.AmountPayable</td>
                            </tr>
                            <tr>
                                <td>To Receive</td>
                                <td>@settlement.AmountReceivable</td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Net</td>
                                <td>@settlement.NetAmount</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
            <div class="card-footer tileFooter">
                @if (settlement.NetAmount > 0)
                {
                    <a><i class="fa fa-wallet"></i> Acknowledge - payment recevied</a>
                }
                else
                {
                    <a><i class="fa fa-wallet"></i> Acknowledge - amount paid</a>
                }


            </div>

    </div>
    }







</div>
