@page
@model Hisab.UI.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container loginForm">

    @if (!String.IsNullOrEmpty(Model.SucessMessage))
    {
        <div class="alert alert-success" role="alert">
            @Model.SucessMessage
        </div>
    }


    <form   asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

        
        <div class="form-group">
            <label asp-for="@Model.ForgotPasswordVM.Email">Enter your Email:</label>
            <input id="email" asp-for="@Model.ForgotPasswordVM.Email" class="form-control" />
            <span asp-validation-for="@Model.ForgotPasswordVM.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>


</div>

@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

}