@page
@model Hisab.UI.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container loginForm">

    
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

        @if (!String.IsNullOrEmpty(@Model.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @Model.SuccessMessage
            </div>
        }
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

        <input asp-for="@Model.ResetPasswordVm.Token" type="hidden" />
        <div class="form-group">
            <label asp-for="@Model.ResetPasswordVm.Email">Email:</label>
            <input asp-for="@Model.ResetPasswordVm.Email" class="form-control" type="email" />
            <span asp-validation-for="@Model.ResetPasswordVm.Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ResetPasswordVm.Password">Password:</label>
            <input asp-for="@Model.ResetPasswordVm.Password" type="password" class="form-control" />
            <span asp-validation-for="@Model.ResetPasswordVm.Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ResetPasswordVm.ConfirmPassword">Confirm Password:</label>
            <input asp-for="@Model.ResetPasswordVm.ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="@Model.ResetPasswordVm.ConfirmPassword"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Re-set Password</button>
        </div>

    </form>
    


</div>


@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/home.js"></script>
}