@model Hisab.UI.ViewModels.AppHomeVm
@{
    Layout = "_AppLayout";
    
}


<div class="row">
    <div class="col-sm-12">
        <div id="toggleEvent" class="btn btn-primary">Create New Event</div>

    </div>
</div>
<div>

    <form id="CreateEventForm" class="popupForm" asp-controller="AppHome" asp-action="CreateEvent" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-group">
            <label asp-for="@Model.NewEvent.EventName">Name:</label>
            <input asp-for="@Model.NewEvent.EventName" class="form-control" type="text" />
            <span asp-validation-for="@Model.NewEvent.EventName"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
        <div>
            <p>You can create maximum 3 Events</p>
        </div>
    </form>
</div>

<div class="card-columns myevents">
    @foreach (var hisabEvent in Model.userEvents)
    {
       <div class="card" style="width: 18rem;">
            @if (hisabEvent.EventId % 2 == 0)
            {
               <img class="card-img-top" src="img/eventCardImage2.jpg"  alt="Card image cap">
            }
            else
            {
               <img class="card-img-top" src="img/eventCardImage1.jpg" alt="Card image cap">
            }

            <div class="card-body">
                <h5 class="card-title"> @hisabEvent.EventName</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="nav-link" asp-controller="Event" asp-action="Dashboard" asp-route-id="@hisabEvent.EventId">View</a>
            </div>
        </div>
    }
</div>




@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/apphome.js"></script>
}