@model Hisab.UI.ViewModels.InviteVm
@{
    Layout = "_AppLayout";

}


<div class="card-columns myevents">
    @foreach (var inviteVm in Model.Invites)
    {
        <div class="card" style="width: 18rem;">
            @if (inviteVm.EventId % 2 == 0)
            {
                <img class="card-img-top" src="/img/eventCardImage1.jpg" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="/img/eventCardImage2.jpg" alt="Card image cap">
            }

            <div class="card-body">
                <form method="post" asp-controller="AppHome" asp-action="JoinEvent">
                    <h5 class="card-title"> @inviteVm.EventName</h5>
                    <p class="card-text">
                        You are invited to join an event created by @inviteVm.EventOwner
                    </p>
                        <input type="hidden" asp-for="@inviteVm.EventId" value="@inviteVm.EventId" />
                        <input type="hidden" asp-for="@inviteVm.EventFriendId" value="@inviteVm.EventFriendId" />
                        <button type="submit">Join</button>
                </form>
                
            </div>
        </div>
    }
</div>
