@model Hisab.UI.ViewModels.OldUserSettingsVm
@{
    Layout = "_AppLayout";
}


<div class="card">
    <form asp-controller="AppHome" asp-action="UpdateNickName" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="card-header eventCardHeader">Change Nick Name</div>
        <div class="card-body">
            @Html.ValidationSummary(true, "")
            
            <div class="form-group">
                <label asp-for="@Model.UpdateNickNameVm.NickName">Change Name:</label>
                <input asp-for="@Model.UpdateNickNameVm.NickName" class="form-control" type="text" />
                <span asp-validation-for="@Model.UpdateNickNameVm.NickName"></span>
            </div>
           
        </div>

        <div class="card-footer">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>




<div class="card">
    <form asp-controller="AppHome" asp-action="UpdatePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="card-header eventCardHeader">Change Password</div>
        <div class="card-body">
            @Html.ValidationSummary(true, "")
            <p>
                You will be asked to login again after sucessfully updating your password.
            </p>

            
            <div class="form-group">
                <label asp-for="@Model.ChangePasswordVm.NewPassword">Enter new Password:</label>
                <input asp-for="@Model.ChangePasswordVm.NewPassword" class="form-control" type="password" />
                <span asp-validation-for="@Model.ChangePasswordVm.NewPassword"></span>
            </div>
        
        </div>

        <div class="card-footer">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
