@using Hisab.UI.ViewModels;
@model HomePageVM

<div class="card card-body mx-1">
    <form asp-controller="Home" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

        @if (Model != null  && Model.LoginVm != null)
        {
            @Html.ValidationSummary(true, "")
        }

        <div class="form-group">
            <label asp-for="@Model.LoginVm.Email">Email:</label>
            <input asp-for="@Model.LoginVm.Email" class="form-control" type="email" />
            <span asp-validation-for="@Model.LoginVm.Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.LoginVm.Password">Password:</label>
            <input asp-for="@Model.LoginVm.Password" type="password" class="form-control" />
            <span asp-validation-for="@Model.LoginVm.Password"></span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="@Model.LoginVm.RememberMe">
                    <input asp-for="@Model.LoginVm.RememberMe" />
                    @Html.DisplayNameFor(m => m.LoginVm.RememberMe)
                </label>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-6">
            <div id="toggleRegister" class="popupFormLink">Register</div>
            @if(!string.IsNullOrEmpty(ViewBag.RegisterSuccessMessage))
            {
                <p>@ViewBag.RegisterSuccessMessage</p>
            }
        </div>
        <div class="col-md-6">
            <div id="toggleForgotPassword"  class="popupFormLink">Forgot Password</div>
            @if(!string.IsNullOrEmpty(ViewBag.ForgotPasswordSuccessMessage))
            {
                <p>@ViewBag.ForgotPasswordSuccessMessage</p>
            }
        </div>
    </div>
    <div>
        
        <form id="toggleRegisterForm" class="popupForm" asp-controller="Home" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            

            @if (Model != null && Model.RegisterUserVm != null)
            {
                @Html.ValidationSummary(true, "")
            }
            
            
            
            
                <div class="form-group">
                    <label asp-for="@Model.RegisterUserVm.NickName">Nickname:</label>
                    <input id="nickName" asp-for="@Model.RegisterUserVm.NickName" class="form-control"/>
                    <span asp-validation-for="@Model.RegisterUserVm.NickName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.RegisterUserVm.Email">Email:</label>
                    <input asp-for="@Model.RegisterUserVm.Email" class="form-control" type="email"/>
                    <span asp-validation-for="@Model.RegisterUserVm.Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.RegisterUserVm.Password">Password:</label>
                    <input asp-for="@Model.RegisterUserVm.Password" type="password" class="form-control"/>
                    <span asp-validation-for="@Model.RegisterUserVm.Password"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            

          

        </form>
    </div>

    <div>
       
        <form id="ForgotPasswordForm" class="popupForm" asp-controller="Home" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            @if (Model != null  && Model.ForgotPasswordVm != null)
            {
                @Html.ValidationSummary(true, "")
            }
            
            <div class="form-group">
                <label asp-for="@Model.ForgotPasswordVm.Email">Email:</label>
                <input asp-for="@Model.ForgotPasswordVm.Email" class="form-control" type="email" />
                <span asp-validation-for="@Model.ForgotPasswordVm.Email"></span>
            </div>
           
            <div class="form-group">
                <button class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>





</div>
