@model Hisab.UI.ViewModels.ResetPasswordVm
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>ResetPassword</h2>

<div class="card card-body mx-1">
    
    @if(!string.IsNullOrEmpty(ViewBag.ResetSuccessMessage))
    {
        <p>@ViewBag.ResetSuccessMessage</p>
        <p>
            You can now <a href="@Url.Action("Index")">Login</a>
        
        </p>
    }
    else
    {
        <form asp-controller="Home" asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            @if (Model != null)
            {
                @Html.ValidationSummary(true, "")
            }

            <input asp-for="@Model.Token" type="hidden"/>
            <div class="form-group">
                <label asp-for="@Model.Email">Email:</label>
                <input asp-for="@Model.Email" class="form-control" type="email"/>
                <span asp-validation-for="@Model.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password">Password:</label>
                <input asp-for="@Model.Password" type="password" class="form-control"/>
                <span asp-validation-for="@Model.Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword">Confirm Password:</label>
                <input asp-for="@Model.ConfirmPassword" type="password" class="form-control"/>
                <span asp-validation-for="@Model.ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Re-set Password</button>
            </div>

        </form>
    }

   
</div>

@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/home.js"></script>
}