@page
@model Hisab.UI.Pages.App.Admin.AllUsersModel
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editUserForm" method="post">
                @Html.HiddenFor(Model => Model.UserVm.Id)
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="@Model.UserVm.NickName"></label>
                        <input asp-for="@Model.UserVm.NickName" id="nickName" class="form-control" />
                        <span asp-validation-for="@Model.UserVm.NickName" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <div class="custom-control custom-checkbox checkbox-xl ">

                            <input asp-for="@Model.UserVm.EmailConfirmed" type="checkbox" class="custom-control-input" id="emailConfirmCheckbox">
                            <label asp-for="@Model.UserVm.EmailConfirmed" class="custom-control-label" for="emailConfirmCheckbox"></label>

                        </div>

                    </div>
                    <div class="form-group">

                        <div class="custom-control custom-checkbox checkbox-xl ">

                            <input asp-for="@Model.UserVm.IsUserActive" type="checkbox" class="custom-control-input" id="isactiveCheckbox">
                            <label asp-for="@Model.UserVm.IsUserActive" class="custom-control-label" for="isactiveCheckbox"></label>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="saveUser" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">



    <table class="bg-white"
           data-toggle="table"
           data-unique-id="Id"
           data-url="@Url.Page("/App/Admin/AllUsers", "LoadData")"
           id="table"
           data-toolbar="#toolbar"
           data-filter-control="true"
           @*data-search="true"*@
           data-show-refresh="true"
           data-show-toggle="true"
           @*data-show-fullscreen="true"*@
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           @*data-detail-view="true"*@
           @*data-show-export="true"*@
           data-click-to-select="true"
           @*data-detail-formatter="detailFormatter"*@
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-show-extended-pagination="true"
           data-total-not-filtered-field="totalNotFiltered"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]"
           data-show-footer="true"
           data-side-pagination="server">
        <thead>
            <tr>
                <th data-formatter="operateFormatter">Actions</th> @*data-events="operateEvents"*@
                @*<th data-field="id">ID</th>*@
                <th data-field="userName" data-filter-control="input" data-sortable="true">User Name</th>
                <th data-field="emailConfirmed" data-filter-control="input" data-sortable="true">Email Confirmed</th>
                <th data-field="nickName" data-filter-control="input" data-sortable="true">Name</th>
                <th data-field="isUserActive" data-filter-control="input" data-sortable="true">Is User Active</th>

            </tr>
        </thead>

    </table>

</div>


@section scripts{
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script>
        function operateFormatter(value, row, index) {
            return [
                //'<a class="like" href="javascript:void(0)" title="Like">',
                //'<i class="fa fa-heart"></i>',
                //'</a>  ',
                //'<a class="remove" href="javascript:void(0)" title="Remove">',
                //'<i class="fa fa-trash"></i>',
                //'</a>'
                '<button id="' + row.id + '" ', 'data-nickName="' + row.nickName + '" ',
                'data-id="' + row.id + '" ',
                'data-emailConfirmed="' + row.emailConfirmed + '" ',
                'data-isUserActive="' + row.isUserActive + '" ',
                'type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">',
                'Edit',
                '</button>'
            ].join('')
        }

        

        // Execute something when the modal window is shown.
        $('#userModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var nickName = button.data('nickname'); // Extract info from data-* attributes
            var emailConfirmed = button.data('emailconfirmed');
            var isUserActive = button.data('isuseractive');
            var id = button.data('id');
            
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            modal.find('.modal-title').text('Edit ' + nickName);
            modal.find('#nickName').val(nickName);
            modal.find('#emailConfirmCheckbox').prop('checked', emailConfirmed);
            modal.find('#isactiveCheckbox').prop('checked', isUserActive);
            modal.find('#UserVm_Id').val(id);
           

            var old_element = document.getElementById("saveUser");
            var new_element = old_element.cloneNode(true);
            old_element.parentNode.replaceChild(new_element, old_element);

            var savebutton = modal.find('#saveUser');
                 

            savebutton.click(function OnSaveClick(e) {
                e.preventDefault();
                
                $.post(this.baseURI, $("#editUserForm").serialize()).done(function (data) {
                    //hack to prevent event firing multiple times
                    var old_element = document.getElementById("saveUser");
                    var new_element = old_element.cloneNode(true);
                    old_element.parentNode.replaceChild(new_element, old_element);

                    $('#userModal').modal('toggle');
                    $('#table').bootstrapTable('refresh');
                });

                removeEventListener('click', this, false);
            });

        });

         
    </script>
}